body{
    background:#f4f7fc;
}

.container{
    max-width:1200px;
}

table{
    background:white;
    border-radius:15px;
    overflow:hidden;
}

.table th{
    text-align:center;
}

.table td{
    vertical-align:middle;
    text-align:center;
}

.btn{
    border-radius:8px;
}

h2{
    font-weight:bold;
    color:#0d6efd;
}